.categoryNew{
  background-color: #FF0000 !important;
}

.categoryScreen{
  background-color: #00FF00 !important;
}

.categoryInterview{
  background-color: #0000FF !important;
}

.categoryOffer{
  background-color: #F0000F !important;
}